@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  /* background-color: aqua; */
  /* width: 100%; */
  /* height: 100vh; */
  /* overflow: hidden; */
}
/* -----start header--------- */
header {
  padding: 0 80px 0 80px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  background-color: rgb(227, 230, 243);
  position: sticky;
  left: 0;
  top: 0;
  box-shadow: 10px 10px 30px rgb(164, 169, 194);
  z-index: 1;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.navbar ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.navbar ul li a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: black;
}
.navbar ul li a:hover,
.navbar ul li a.active {
  color: rgb(36, 186, 181);
}
.navbar ul li a.active::after,
.navbar ul li a:hover::after {
  content: "";
  width: 70%;
  height: 3px;
  position: absolute;
  background-color: rgb(36, 186, 181);
  bottom: 15px;
  left: 0px;
}
/* - start hero--------- --------------------------- */
.hero {
  background-image: url(../images/about/banner.png);
  width: 100%;
  height: 50vh;
  background-size: cover;
  margin-bottom: 100px;
}
.hero-text {
  width: 100%;
  height: 50vh;
  padding: 0px 80px 0px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.ht {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ht h2 {
  font-size: 45px;
  font-family: "Arimo", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Rubik Iso", cursive;
}
.ht p {
  padding: 5px 0 25px 0;
  font-size: 16px;
}
/* -- start table -------------- */
.tb {
  padding: 40px 80px;
}
table {
  padding: 40px 80px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
}
table thead {
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #ccdbca;
  border-left: none;
  border-right: none;
}
.tb table thead th {
  padding: 20px 0;
}
.tb table tbody tr td {
  padding: 20px 0;
}
table td input {
  width: 30%;
  height: 5vh;
  outline: none;
}
table td img {
  width: 100%;
  height: 15vh;
  object-fit: contain;
}
/* <!-- start table and form----- -- */
.section-coupon {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
}
.section-coupon .input input {
  width: 70%;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 200px;
  outline: none;
  border: 1px solid #e2e9e1;
}
.section-coupon .input h2 {
  padding-bottom: 15px;
}
.section-coupon .input button {
  padding: 10px 20px;
  background-color: #1b4519;
  outline: none;
  border: none;
  border-radius: 10px;
  color: #fff;
}
.cart-total {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}
.cart-total h3 {
  padding-bottom: 10px;
  font-size: 20px;
}
.cart-total table {
  width: 100%;
  border-collapse: collapse;
  text-align: start;
  margin-bottom: 20px;
}
.cart-total table td {
  width: 50px;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 20px;
}
.cart-total button {
  padding: 15px 27px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #1b4519;
}
/* - footer start--------------------------- */
footer .main {
  padding: 50px 80px 50px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .main1 h4 {
  padding: 20px 0px;
  font-size: 20px;
  font-weight: 800;
}
.main .main1 .social-icon {
  width: 35%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.main a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  color: rgb(90, 85, 85);
}
.main a:hover {
  text-decoration: underline;
  color: rgb(76, 142, 248);
}
.main .social-img {
  border: 1px solid rgb(206, 198, 198);
  margin: 10px 0;
  border-radius: 5px;
}
.main .social-img:hover {
  cursor: pointer;
}
.main .v-img {
  padding-top: 25px;
}
.main1 .app {
  margin-top: 73px;
}
footer .p-text {
  text-align: center;
  padding-bottom: 30px;
  color: #9a9292;
}
#nav_btn,
.nav_btn {
  display: none;
}
/* -------------------------------------------start respovise------------------------------ */
@media only screen and (min-width: 1200px) {
    /* Extra large screens, such as desktops */
    /* CSS styles for extra large screens */
    .navbar ul li a.active::after,
    .navbar ul li a:hover::after {
      width: 65%;
      left: 1px;
    }
  }
  /* Large screens, such as laptops */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* CSS styles for large screens */
    .ht h2 {
      font-size: 40px;
    }
    footer .main {
      flex-wrap: wrap;
    }
  }
  /* Medium screens, such as tablets */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* CSS styles for medium screens */
    header {
      padding: 0px 18px 0 0px;
    }
    .navbar ul li {
      padding: 0px 20px;
    }
    .navbar {
      width: 70%;
    }
    .navbar ul li a.active::after,
    .navbar ul li a:hover::after {
      width: 37%;
      left: 20px;
    }
    .hero {
      height: 48vh;
    }
    .hero-text {
      height: 51vh;
    }
    .ht h2 {
      font-size: 35px;
    }
    .paginashion-iteam a {
      font-size: 18px;
    }
    footer .main {
      flex-wrap: wrap;
    }
  }
  /* Small screens, such as mobile devices */
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    /* CSS styles for small screens */
    header {
      padding: 0px 18px 0 0px;
    }
    .navbar ul {
      position: fixed;
      top: 0;
      left: -100%;
      z-index: 13;
      flex-direction: column;
      background: rgb(166, 174, 209);
      width: 100%;
      height: 100vh;
      justify-content: flex-start;
      padding: 26px;
      transition: left 0.5s ease-in-out;
    }
    #nav_btn:checked + ul {
      left: 0%;
    }
    #nav_btn {
      display: none;
    }
    .nav_btn {
      display: inline-block;
      position: fixed;
      top: 15px;
      right: 35px;
      z-index: 11;
      cursor: pointer;
      font-size: 27px;
    }
    .nav_btn.close {
      z-index: 14;
      position: absolute;
      color: aliceblue;
    }
    .navbar ul li {
      margin-top: 50px;
      font-size: large;
      font-weight: 800;
    }
    .navbar ul {
      width: 100%;
    }
    .navbar ul li a {
      color: aliceblue;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .navbar ul li a.active::after,
    .navbar ul li a:hover::after {
      content: "";
      width: 8%;
      height: 3px;
      position: absolute;
      bottom: -5px;
      left: 140px;
    }
    .hero {
      height: 39vh;
    }
    .section-coupon {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .tb {
       overflow-x: auto;
    }
    .section-coupon {
        padding: 20px 20px;
    }
    .section-coupon .input input {
        width: 65%;
        margin-bottom: 70px;
    }
    .cart-total {
        width: 100%;
    }
    .banner-latter .form {
      width: 65%;
      height: 7vh;
    }
    .banner-latter .form input {
      height: 7vh;
    }
    footer .main {
      flex-wrap: wrap;
    }
    .hero {
      height: 30vh;
    }
    .hero-text {
      height: 30vh;
    }
    .ht h2 {
      font-size: 22px;
    }
    .ht p {
      padding: 2px 0 25px 0;
      font-size: 9px;
    }
    .paginashion-iteam a {
      font-size: 12px;
    }
    .banner-latter {
      margin-top: 10px;
      height: 35vh;
      padding: 12px 35px 0px 35px;
    }
    footer .main {
      padding: 35px 40px 0px 35px;
    }
    .main .main1 h4 {
      padding: 15px 0px;
    }
    .main1 .app {
      margin-top: 0px;
    }
    .main .social-img {
      margin: 7px 0;
      width: 48%;
    }
    .main .v-img {
      padding: 12px 50px 12px 50px;
      width: 100%;
    }
  }
   /* Small screens, such as mobile devices */
   @media only screen and (max-width: 767px) {
    .location {
        flex-wrap: wrap;
        width: 100%;
        padding: 0px 25px 0px 25px;
    }
    .location .location-text{
        width: 100%;
    }
    .location .location-map{
        width: 100%;
    }
    .location .location-map iframe{
        width: 100%;
    }
    .form-section {
      flex-direction: column;
        padding: 10px 10px 0px 10px;
        flex-wrap: wrap;
        margin-left: 32px;
    }
    .form-section .form-text form {
        width: 165%;
    }
    .form-section .form-text form button {
        padding: 6px;
        width: 37%;
    }
    .p-text {
        padding-left: 8px;
    }
    .form-person {
        flex-wrap: wrap;
    }
   }


